<div class="chat">  
  <% if message.user == current_user %>
    <%= display_avatar(user: current_user, style: "chat__photo") %>
    <p class="chat__message chat__message--current-user"><%= message.body %></p>
  <% else %>
    <%= display_avatar(user: listing.seller, style: "chat__photo") %>
    <p class="chat__message chat__message--seller"><%= message.body %></p>
  <% end %>
</div>