<div class="chat"> 
  <% if message.user == current_user %>
    <p class="chat__message chat__message--current-user"><%= message.body %></p>
    <p class="sent-at">
      <%= time_ago_in_words(message.created_at) %> ago
    </p> 
  <% else %>
    <p class="chat__message chat__message--seller"><%= message.body %></p>
  <% end %>
</div>