<div class="devise-form__container">
  <div class="devise-form__form-container">
    <div class="devise-form__form">
      <h3 class="form__heading">Resend confirmation instructions</h3>
      
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form" }) do |f| %>
        <div class="form__group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form__input", id: "email-field", placeholder: "Email" %>
          <%= f.label :email, class: "form__label" %>
        </div>
        
        <div class="form__group">
          <button type="submit" class="form__submit-btn" id= "submit-btn">Resend confirmation instructions &rarr;</button>
        </div>
      <% end %>
      
      <div class="form__devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>