<% if conversations.any? %>
  <% conversations.each do |conversation| %>
    <div class="chatbox">
      <div class="chatlogs" id=<%= "conversation-btw-#{conversation.seller_id}-#{conversation.buyer_id}" %>>
        <% conversation.messages.includes(:user).each do |message| %>
            <%= render partial: "messages/message", locals: { message: message, listing: @listing } %>
        <% end %>
      </div>
      <%= render partial: "messages/form", locals: { conversation: conversation } %>
    </div>
  <% end %>
<% elsif current_user != listing.seller %>
  <%= link_to "Start a convo", listing_conversations_path(listing), method: :post, id: "create-#{listing.seller.id}-#{current_user.id}-conversation" %>
<% end %>


