<div>
  <% if conversation %>
    <div id=<%= "conversation-btw-#{listing.seller.id}-#{current_user.id}" %>>
      <%= conversation.messages.inspect %>
    </div>
  <% elsif current_user != listing.seller %>
    <%= link_to "Start a convo", listing_conversations_path(listing), method: :post, id: "create-#{listing.seller.id}-#{current_user.id}-conversation"   %>
  <% end %>
</div>