*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 

  @media only screen and (max-width: 900px) {
    font-size: 55%;
  }
}

body {
  min-height: 100vh;
  margin: 0 auto;
  color: $color-black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}