//-------------- Fonts --------------//

$font-primary: 'Rubik', sans-serif;


//-------------- Colors --------------//

$color-green: #00ad45;   
$color-green-light: #5ecc62;
$color-blue-light: #b3dcff;
$color-off-white: #fffef5;

$color-black: #1d2d35;