<% flash.each do |key, val| %>
  <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
    <%= val %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>