<footer class="footer">
  <ul class="footer-nav">
    <li class="footer-nav__item">
      <a href="#" class="footer-nav__link">Footer Link</a>
    </li>
    <li class="footer-nav__item">
      <a href="#" class="footer-nav__link">Footer Link</a>
    </li>
    <li class="footer-nav__item">
      <a href="#" class="footer-nav__link">Footer Link</a>
    </li>
    <li class="footer-nav__item">
      <a href="#" class="footer-nav__link">Footer Link</a>
    </li>
    <li class="footer-nav__item">
      <a href="#" class="footer-nav__link">Footer Link</a>
    </li>
    <li class="footer-nav__item">
      <a href="#" class="footer-nav__link">Footer Link</a>
    </li>
  </ul>

  <p class="footer-copyright">
    &copy; Copyright 2019 by Mark Merritt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque maiores error eum totam iste dolor necessitatibus minima, ducimus voluptates.
  </p>
</footer>