<footer class="footer">
  <ul class="footer-nav">
    <li class="footer-nav__item">
      <%= link_to "Conditions of Use", conditions_path, class: "footer-nav__link" %>
    </li>
    <li class="footer-nav__item">
      <%= link_to "Privacy Policy", "https://app.termly.io/document/privacy-policy/1265da4b-73a3-403f-ba93-5ebf6b1c08f6", class: "footer-nav__link" %>
    </li>
    <li class="footer-nav__item">
      <%= link_to "FAQ's", faq_path, class: "footer-nav__link" %>
    </li>
    <li class="footer-nav__item">
      <%= link_to "Contact", contact_path, class: "footer-nav__link" %>
    </li>
  </ul>

  <p class="footer-copyright">
    &copy; Copyright 2019 by Mark Merritt. All rights reserved.
  </p>
</footer>