<div class="whos-there">
  <p class="whos-there__greeting">
    Thanks for checking out my project <span class="whos-there__greeting--bold"><%= session[:whos_there] %></span> ! 
    Please note that Facebook login and Google Maps do not work in production (they require a privacy policy/money) :)
  </p>
</div>
