<section class="section-hero">
  <div class="hero__text-box">
    <h1 class="hero__heading-primary">
      <span class="hero__heading-primary--main">PatriotSwap</span>
      <span class="hero__heading-primary--sub">Buy.Sell.Trade</span>
    </h1>
    
    <%= link_to "Browse Listings", buyers_path, class: "btn btn-white", id: "browse-listings-link" %>
  </div>
</section>





