<div>
  <%= link_to listing.title, listing_path(listing) %> <br />
  Book: <%= listing.book.title %> <br />
  Expiration Date: <%= ymd_format(listing.expiration_date) %> <br />

  <%= render partial: "listings/shared_links", locals: { listing: listing } %>
</div>
