<section class="listings-section">
  <% if @listings.any? %>
    <%= render partial: "listings/listing", collection: @listings %>
  <% else %>
    <p>
      No local listings
    </p>
  <% end %>
</section>
<%= will_paginate @listings %> 

<%= render partial: "ebay/books", locals: { ebay_books: @ebay_books } if @ebay_books %>
