<section class="listings-section">
  <% if @listings.any? %>
    <%= render partial: "listings/listing", collection: @listings %>
  <% else %>
    <p>No Results</p>
  <% end %>
</section>
<%= will_paginate @listings %> 

     