//-------------- Listings#show --------------//

.listing-show-container {
  margin-top: 3rem;
  padding: 3rem;
  display: flex;
}

.listing-details {

  &__container {
    flex: 1;
  }

  &__title {

  }

  &__body {

  }

  &__seller-name {

  }

  &__price {

  }

  &__book-title {

  }

  &__tags {

  }
  
  &__map {
    width: 40rem;
  }

  &__images {
    list-style: none;
    display: flex;

    li:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__img {
    display: inline-block;
    width: 10rem;
    border: 2px solid transparent;

    &:hover{
      cursor: pointer;
      border: 2px solid $color-primary;
    }
  }
}

.conversation-container {
  flex: 0 0 30%;
}




















