//-------------- Listings#show --------------//

.listing-show-container {
  margin-top: 3rem;
  padding: 3rem;
  display: flex;
}

.listing-details {

  &__container {
    flex: 1;
  }

  &__title {

  }

  &__body {

  }

  &__seller-name {

  }

  &__price {

  }

  &__book-title {

  }

  &__tags {

  }
  
  &__map {
    width: 40rem;
  }

  &__img {

  }
}

.conversation-container {
  flex: 0 0 30%;
}
